.musicOn,
.musicOff {
  position: absolute;
  cursor: pointer;
  background-color: hsla(0, 0%, 83%, 0.4);
  width: 80px;
  height: 80px;
  bottom: 0;
  margin: 10px;
}

.musicOn {
  background-image: url(../../public/music-on.svg);
}

.musicOff {
  background-image: url(../../public/music-off.svg);
}
