.score {
  position: absolute;
  margin: 10px;
  text-align: right;
  font-family: "Press Start 2P", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: white;
  bottom: 0;
  right: 0;
}
